{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<div class="bg-dark collapse show" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Code insight provide coding content , it has focus on simplicity ,and start from basic level and move all the way up to professional references.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled">
            <li><a href="https://www.instagram.com/_manokamna_singh/" class="text-white">follow on istagram</a></li>
            <li><a href="https://whatsapp.com/dl/" class="text-white">Whatsapp me</a></li>
            <li><a href="https://twitter.com/ManokamnaSingh_?t=RP9P5K6nOd2VCMLJQJIMIQ&s=08" class="text-white">Follow on Twittor</a></li>
            <li><a href="#" class="text-white">Follow on Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
