{% extends 'base.html' %}

{% block title %} BlogPost {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container my-3">
    <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.auther}} </a></p>
         <p>{{post.content|safe}}</p>
         <hr>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=new0b91-21&marketplace=amazon&amp;region=IN&placement=1593279280&asins=1593279280&linkId=97c69d294ef6f59bc50bbec007c84cdf&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=new0b91-21&marketplace=amazon&amp;region=IN&placement=1593278047&asins=1593278047&linkId=d9094d37024ecf961d9857a07d2242b0&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
</div>
{% endblock body %}
